.square {
  flex: 1;
  cursor: pointer;
}

/* code for light and dark squares of board*/
.light {
  background-color: rgb(232, 235, 239);
}
.dark {
  background-color: rgb(125, 135, 150);
}

/* code to highlight squares to where moves are possible*/
.highlight {
  background-color: #35d6ed;
}

/* rotate pieces if player chooses black color */
.playerIsBlack {
  transform: rotate(180deg);
}
